{% extends 'base.html' %}

{% block content %}

{% load staticfiles %}
<div id="content">

<h1 style="text-align: center;"> Challenges </h1>

{% if error_message %}<p><strong>{{error_message}}</strong></p>{% endif %}

<ul class="nav nav-pills nav-stacked" id="menu_challenges">
{% for challenge in lchallenges %}
{% with challenge.difficulty|stringformat:"i" as diff %}
{% with 'challenge/img/'|add:diff|add:'stars.png' as image_static %}
<li>
  <div>
    <img src={% static image_static %}><a href="{% url 'challenge:desc' challenge.id %}">{{challenge.name}}</a>
  </div>
</li>
{% endwith %}
{% endwith %}
{% endfor %} 
</ul>

</div>
{% endblock content %}
