{% extends 'base.html' %}

{% block content %}

{% include "challenge/nav.html" with challenge_id=challenge.id %}

{% load staticfiles %}
<script>
  var user_id = {{userid}};
</script>

<div id="content">
<div id="graph">
  <h2 style="text-align: center;"> Histogram of F1 score</h2>
</div>
<div id="lead">
  <h2 style="text-align: center;"> Leaderboard Table </h2>
<p> Leaderboard of the best score for one user with one method. </p>
  <table id="leaderboard" style="width:100%">
  </table>
</div>
</div>

<style>
#graph {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  font: 14px sans-serif;
}

.legend {
    font: 20px;
}

.bar rect {
  fill: steelblue;
  shape-rendering: crispEdges;
}

.bar rect:hover {
  fill: #2b506e;
}

.line_user line {
    stroke: rgb(255, 0, 0);
    stroke-width: 4;
}

.bar text {
  fill: #fff;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
  
table#leaderboard tr:nth-child(even) {
    background-color: #ccc;
}
table#leaderboard tr:nth-child(odd) {
    background-color: #fff;
}
div.tooltip {
  position: absolute;	
  text-align: center;	
  width: 80px;	
  height: 30px;		
  padding: 3px;	
  font: 10px sans-serif;	
  background: lightsteelblue;	
  border: 0px;					
  border-radius: 8px;
 /*  pointer-events: none;	This line needs to be removed */
	
}
</style>

<script src="{% static "js/d3.min.js" %}"></script>
<script>
var div = d3.select("body")
	.append("div")
	.attr("class", "tooltip")
  .style("opacity", 0);

    var formatCount = d3.format(",.0f");

var margin = {top: 40, right: 40, bottom: 40, left: 40},
width = 800 - margin.left - margin.right,
height = 400 - margin.top - margin.bottom;

var parseDate = d3.time.format.utc("%Y-%m-%dT%H:%M:%S.%LZ").parse;
var formatDate = d3.time.format("%a : %X");

var x = d3.scale.linear()
    .domain([0,1])
    .range([0,width]);

var final_data;
d3.json("/challenge/{{ challenge.id }}/api/results_challenge", function(error,data) {

    var values = data.map(function(d) { return d.f1score.toFixed(2); });

    var values_user = data.filter(function(d) { return d.submission__user__id == {{ userid }} })
        .map(function(d) { return d.f1score.toFixed(2) });

    x.domain([0,1]);

    var hist_data = d3.layout.histogram()
        .bins(x.ticks(20))
    (values);

    final_data = values_user;

    var y = d3.scale.linear()
        .domain([0, d3.max(hist_data, function(d) { return d.y;})])
        .range([height, 0]);

    var xAxis = d3.svg.axis()
        .scale(x)
        .orient("bottom");

    var svg = d3.select("#graph").append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    var bar = svg.selectAll(".bar")
        .data(hist_data)
        .enter().append("g")
        .attr("class", "bar")
        .attr("transform", function(d) { return "translate(" + x(d.x) + "," + y(d.y) + ")"; });

    bar.append("rect")
        .attr("x", 1)
        .attr("width", x(hist_data[0].dx) - 1)
        .attr("height", function(d) { return height - y(d.y); });

    bar.append("text")
        .attr("dy", ".75em")
        .attr("y", 6)
        .attr("x", x(hist_data[0].dx) / 2)
        .attr("text-anchor", "middle")
        .text(function(d) { return formatCount(d.y); });

    var line = svg.selectAll(".line_user")
        .data(values_user)
        .enter()
        .append("g")
        .attr("class", "line_user")
        .attr("transform", function(d) { return "translate(" + x(d) + "," + 0 +")"; });

    line.append("line")
        .attr("x1", 0)
        .attr("y1", 0)
        .attr("x2", 0)
        .attr("y2", height)
        .attr("opacity", 0.7)
    	  .on("mouseover", function(d) {		
            d3.select(this).transition()
                .duration(100)
                .style("stroke-width", 7);
            div.transition()
				        .duration(100)	
				        .style("opacity", 0);
			      div.transition()
				        .duration(100)	
				        .style("opacity", .9);	
			      div	.html(
				        'Your score:' + d)
				        .style("left", (d3.event.pageX) + "px")			 
				        .style("top", (d3.event.pageY - 28) + "px");
			  })
        .on("mouseout", function(d) {
            d3.select(this).transition()
                .duration(100)
                .style("stroke-width", 4);
        });

    svg.append("g")
    .attr("class", "x axis")
    .attr("transform", "translate(0," + height + ")")
    .call(xAxis);

    var legend = d3.select("#graph").select("svg").append("g")
        .attr("class", "legend")
        .attr("transform", "translate(50,20)");

    legend.append("g")
        .attr("class", "line_user")
        .attr("transform", "translate(80,-4)")
        .append("line")
        .attr("x1", 0)
        .attr("y1", 0)
        .attr("x2", 20)
        .attr("y2", 0)
        .attr("opacity", 0.7)
    legend.append("text")
        .text("Your score");

     svg.append("text")
     .attr("text-anchor", "middle")  // this makes it easy to centre the text as the transform is applied to the anchor
     .attr("transform", "translate("+ (width/2) +","+(height+margin.top-(margin.bottom/4))+")")  // centre below axis
     .text("F1 score");


});

</script>
<script>
var res;
d3.json("/challenge/{{ challenge.id }}/api/results_challenge", function(error,data) {

data.forEach(function(d) {
   d.date = parseDate(d.submission__date);
   d.f1score = +d.f1score;
   d.user = d.submission__user__username;
   d.simu = d.submission__simu__name;
   d.method = d.submission__methods;
});

function sortByScore(a, b) {
    return d3.descending(a.values.f1score,b.values.f1score);
}

var nestedData = d3.nest().key(function(d) { return d.user })
                          .rollup(function(leaves) {
return {"user": leaves[0].user, "method": leaves[0].method,
"private": leaves[0].submission__simu__private, "f1score": d3.max(leaves, function(d) {
                                  return +d.f1score;
                              })}
                          })
                          .entries(data);

var sortedNestedData = nestedData.sort(sortByScore).slice(0,19);
res = nestedData;

var row = d3.select("#leaderboard").append("tr");

var td_name = row.append("td").append("b")
                 .html("User");
var td_soft = row.append("td").append("b")
                 .html("Method");
var td_envariable = row.append("td").append("b")
                 .html("EnvVariable");
var td_res = row.append("td").append("b")
                .html("F1 score");

sortedNestedData.forEach(function(d) {

var row = d3.select("#leaderboard").append("tr");

var td_name = row.append("td")
                 .html(d.values.user);
var td_soft = row.append("td")
                 .html(d.values.method);
var td_soft = row.append("td")
                 .html(d.values.private.toString());
var td_res = row.append("td")
                .html(d.values.f1score);

});

});
</script>

{% endblock content %}
