{% block navigation %}
<div id="menu_challenge">
    <ul class="nav nav-tabs" id="menu_general">
       <li><a href="{% url 'challenge:desc' challenge_id %}">Description</a></li>
       <li><a href="{% url 'challenge:rules' challenge_id %}">Rules</a></li>
       <li><a href="{% url 'challenge:evaluation' challenge_id %}">Evaluation</a></li>
       <li><a href="{% url 'challenge:challenge_submit' challenge_id %}">Submission</a></li>
       <li><a href="{% url 'challenge:leaderboard' challenge_id %}">Leaderboard</a></li>
    </ul>
</div>
{% endblock %}

