{% extends 'base.html' %}

{% block content %}

{% load bootstrap %}

{% include "challenge/nav.html" with challenge_id=challenge.id %}

<div id="content">

<h1> Challenge </h1>

{% if error_message %}<p><strong>{{error_message}}</strong></p>{% endif %}

<form action="{% url 'challenge:challenge_submit' challenge.id %}" method="post">
{% csrf_token %}
<div class="fieldWrapper">
{{ form.dataset.errors }}
<p class="fieldDescription"> You must choose a dataset. There might be only one dataset. </p>
{{ form.dataset|bootstrap_horizontal }}
</div>
<div class="fieldWrapper"> 
{{ form.answer.errors }}
<p class="fieldDescription"> Insert the list of selected marker, eg: "1,13,2344,12" </p>
{{ form.answer|bootstrap_horizontal }}
</div>
<div class="fieldWrapper">
{{ form.level.errors }}
<p class="fieldDescription"> Choose your level. </p>
{{ form.level|bootstrap_horizontal }}
</div>

<p class="fieldDescription"> Select the software. You can select Other and write the name of your method. </p>

<div class="fieldWrapper">
{{ form.softwaretype.errors }}
<div class="container">
    <div class="row">
        <div class="col-xs-6">
          {{form.softwaretype.0}}<br/>
          {{form.software_presented|bootstrap}}
        </div>
        <div class="col-xs-6">
          {{form.softwaretype.1}}<br/>
          {{form.software_other|bootstrap}}
        </div>
    </div>
</div>
</div>
<input type="submit" class="btn btn-primary" value="Submit" />
</form>

{% if infosubmission %}<p>Limit of submission for this dataset {{infosubmission.0}}/{{infosubmission.1}} </p>{% endif %}
{% if res %}<p><strong>{{res}}</strong></p>{% endif %}

</div>
{% endblock content %}

