{% extends 'base.html' %}

{% block content %}

{% load bootstrap %}

{% include "challenge/nav.html" with challenge_id=challenge.id %}

<div id="content">

<h1 style="text-align: center;"> Submission </h1>

<p> Here you can submit your list of candidate SNPs. You have a limited number of submissions, so be careful when submitting your list. </p>

{% if error_message %}<p><strong>{{error_message}}</strong></p>{% endif %}

{% if infosubmission %}<h2 style="text-align: center;">Number of submissions for this dataset: {{infosubmission.0}} </h2>{% endif %}
{% if res %}<h2 style="text-align: center; color: red;"><strong>You obtain a F1 score of {{res}}</strong></h2>{% endif %}

<form action="{% url 'challenge:challenge_submit' challenge.id %}" method="post">
{% csrf_token %}
<div class="fieldWrapper">
{{ form.dataset.errors }}
<p class="fieldDescription"> <em>The following field indicates the dataset that should be analysed.</em></p>
{{ form.dataset|bootstrap_horizontal }}
</div>
<div class="fieldWrapper"> 
{{ form.answer.errors }}
<p class="fieldDescription"> <em>Insert your list of candidate SNPs, e.g., "1,13,2344,12" </em></p>
{{ form.answer|bootstrap_horizontal }}
</div>
<div class="fieldWrapper">
{{ form.level.errors }}
<p class="fieldDescription"> <em>Select your level of expertise. </em></p>
{{ form.level|bootstrap_horizontal }}
</div>

<div class="fieldWrapper">
{{ form.with_environment_variable.errors }}
<p class="fieldDescription"> <em>Did you use an environment variable? </em></p>
{{ form.with_environment_variable|bootstrap_horizontal }}
</div>

<div class="fieldWrapper">
{{ form.method.errors }}
<p class="fieldDescription"> <em>Name of the method</em></p>
{{ form.method|bootstrap_horizontal }}
</div>
<div class="fieldWrapper">
{{ form.method_desc.errors }}
<p class="fieldDescription"> <em>Description, e.g., "LFMM with K=15, burnin=2000, iterations=4000, number of repetitions=10"</em></p>
{{ form.method_desc|bootstrap_horizontal }}
</div>
<input type="submit" class="btn btn-primary" value="Submit" />
</form>

</div>
{% endblock content %}

