{% extends 'base.html' %}

{% block content %}

{% load bootstrap %}

{% include "challenge/nav.html" with challenge_id=challenge.id %}

<div id="content">

<h1> Challenge </h1>

{% if error_message %}<p><strong>{{error_message}}</strong></p>{% endif %}

<form action="{% url 'challenge:challenge_submit' challenge.id %}" method="post">
{% csrf_token %}
<div class="fieldWrapper">
{{ form.dataset.errors }}
<p class="fieldDescription"> You must choose a dataset. There might be only one dataset. </p>
{{ form.dataset|bootstrap }}
</div>
<div class="fieldWrapper"> 
{{ form.answer.errors }}
<p class="fieldDescription"> Insert the list of selected marker, eg: "1,13,2344,12" </p>
{{ form.answer|bootstrap }}
</div>
<div class="fieldWrapper">
{{ form.level.errors }}
<p class="fieldDescription"> Choose your level. </p>
{{ form.level|bootstrap }}
</div>
<div class="fieldWrapper">
{{ form.software.errors }}
<p class="fieldDescription"> Select the software. You can select Other and write the name of your method. </p>
{{ form.software|bootstrap }}
</div>
<input type="submit" value="Submit" />
</form>

{% if infosubmission %}<p>Limit of submission for this dataset {{infosubmission.0}}/{{infosubmission.1}} </p>{% endif %}
{% if res %}<p><strong>{{res}}</strong></p>{% endif %}

</div>
{% endblock content %}

