{% extends 'base.html' %} {% block fullwidthheader %} {% load bootstrap %}

<div class="mountain">
  <div class="container">

    <div class="row cover">

      <div class="col-md-7">
        <h1>Welcome to SSMPG challenge website</h1>
  <p class="lead">In this website, you can participate to the challenges proposed during the SSMPG summer school and evaluate you ability to perform genome scans for selection.</p>
      </div>

    </div>
  </div>
</div>



{% endblock %} {% block fullwidthfooter %} {% endblock fullwidthfooter %}
